.dodajOcenuForm {
    display: flex;
    flex-direction: column;
    max-width: 18rem;
    align-items: flex-start;
    height: 12rem;
    justify-content: space-between;
    border: 1px solid rgb(236, 230, 230);
    border-radius: 5px;
    padding: .5rem;



}

a {
    text-decoration: none;
}

.dodajOcenuDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.dodajOcenuDiv label {
    margin-right: 1rem;
}

#ocenaInput {
    width: 2rem;
    text-align: center;
}

.dodajOcenuForm button {
    background-color: rgb(236, 230, 230);
    border-radius: 5px;
    border: 1px solid black;
    align-self: center;
}

.dodajOcenuForm h3 {
    align-self: center;
}

.ocena-anchor,
.custom-anchor {
    text-decoration: none;
}

.addForm {
    max-width: 24rem;

}

.addForm label {
    width: 10rem;
    font-size: 1.2rem;
    text-align: right;
    margin-bottom: .8rem;
}

.addForm input {
    margin-left: 10px;
}

.addForm button {
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 14rem;

}


/* Login Forma */
.loginForm {
    font-size: 1.6rem;
    margin-top: 1rem;

}

.loginForm a {
    margin-right: 2rem;
}


.anchor-wlc {
    font-size: 1.6rem;
}